[Unit]
Description=Open vSwitch Database Unit for VTEP emulator
Before=ovs-vswitchd-vtep.service
ReloadPropagatedFrom=openvswitch-vtep.service
PartOf=openvswitch-vtep.service
Conflicts=ovsdb-server.service

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/openvswitch-vtep
ExecStartPre=/usr/sbin/prepare-vtep-dbs
ExecStart=/usr/sbin/ovsdb-server --pidfile --log-file --remote punix:/var/run/openvswitch/db.sock $OVS_DB $VTEP_DB
ExecStop=/usr/share/openvswitch/scripts/ovs-ctl --no-ovs-vswitchd stop
RuntimeDirectory=openvswitch
RuntimeDirectoryMode=0755
